:root {
  --hover-color: #f2f2f3;
}

.wrap {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-side-padding);
  display: flex;
}

.aside {
  margin-top: 120px;
  flex: 0.42;
}

.aside_nav {
  margin-bottom: 80px;
}

.link {
  padding: 17px 0;
  display: inline-block;
  cursor: pointer;
  transition: var(--common-transition);
  &:hover {
    color: var(--hover-color);
    transition: var(--common-transition);
  }
}

.btn {
  background-color: transparent;
  padding: 17px 0;
  cursor: pointer;
  transition: var(--common-transition);
  &:hover {
    color: var(--hover-color);
    transition: var(--common-transition);
  }
}

.active {
  color: var(--hover-color);
}

