.orderFeed {
  flex: 1;
}

.withScroll {
  height: calc(100vh - 88px - 40px - 40px - 20px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px;
}
