.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

.link {
  color: #4c4cff;
}
