.modal {
  background-color: #1c1c21;
  border-radius: 40px;

  position: relative;
}

.close_icon {
  position: absolute;
  top: 63px;
  right: 43px;

  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover svg {
    fill: white;
  }
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width-modal);
  padding: 0 40px;
}
