.modal {
  position: relative;
  background-color: #1c1c21;
  border-radius: 40px;
  max-width: 720px;
  border: 1px solid var(--colors-interface-accent);
}

.close_icon {
  position: absolute;
  top: 63px;
  right: 43px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover svg {
    fill: white;
  }
}
