.modal {
  background-color: #1c1c21;
  border-radius: 40px;
}

.modal_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 640px;
}

.close_icon {
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover svg {
    fill: white;
  }
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  padding: 0 40px;
}
