.wrap {
  flex: 1;
}

.constructorContainer {
  height: calc(100vh - 344px);
}

.withScroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 536px);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.constructorElement {
  display: flex;
  max-height: 80px;
}

.dragIcon {
  display: flex;
  align-items: center;
}
